// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.toast {
  margin: 1rem 0;
  font-weight: bold;
}

.toast-minor {
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: normal;
  margin: 0.4rem 0;

  h2 {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
